@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.botnav {
  height: 3.5em;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
  z-index: 100;
  animation: slideInUp;
  animation-duration: 2s;
  /* animation-delay: 3.5s; */
}
/* 
.f1 {
  animation: slideInRight;
  animation-duration: 0.5s;
}

.f2 {
  animation: slideInRight;
  animation-duration: 1s;
}

.f3 {
  animation: slideInRight;
  animation-duration: 1.5s;
}

.f4 {
  animation: slideInRight;
  animation-duration: 2s;
}

.f5 {
  animation: slideInRight;
  animation-duration: 2.5s;
}

.f6 {
  animation: slideInRight;
  animation-duration: 3s;
}

.f7 {
  animation: slideInRight;
  animation-duration: 3.5s;
} */

.norm {
  font-size: 2rem;
}

.mar {
  margin: 0;
}

.lin {
  background-color: #151B54;
  font-family: 'Fredoka One', cursive;
}

.fab {
  position: fixed;
  bottom: 70px;
  right: 30px;
}