@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.botnav {
  height: 3.5em;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  margin-bottom: 0px;
}

.norm {
  font-size: 2rem;
}

.mar {
  margin: 0;
}

.lin {
  background-color: #151B54;
  font-family: 'Fredoka One', cursive;
}